* {
  font-family: "polycat", "CommitMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color: rgba(16, 19, 23, 0.9);
  border-radius: 10px;
  border: 1px solid #454756;
  color: #c5c9c5;
  margin: 5px 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#mpd,
#custom-runcat,
#cpu,
#memory,
/*#tray,*/
#temperature,
#language,
#clock,
#custom-quick-settings,
#battery,
/*#power-profiles-daemon,*/
#window,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#idle_inhibitor,
#keyboard-state,
#scratchpad,
#privacy,
#custom-notification {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0 10px;
  color: inherit;
  box-shadow: none;
}

#power-profiles-daemon {
  padding-left: 0;
  padding-right: 4px;
  min-width: 24px;
}

#tray {
  /*padding-left: 0;*/
  /*padding-right: 10px;*/
}

#workspaces {
  background: none;
  border-radius: 0;
  border: none;
  transition: ease 0.5s;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
}

#workspaces button {
  border-radius: 7px;
  border: none;
  transition: ease 0.5s;
  padding: 0 8px;
  margin: 2px 3px;
  background-color: transparent;
}

#workspaces button:hover {
  color: #8ba4b0;
  background-color: rgba(139, 164, 176, 0.1);
}

#workspaces button.active {
  color: #8ba4b0;
  border-color: transparent;
  background-color: rgba(139, 164, 176, 0.1);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#power-profiles-daemon.performance { color: #ca6d73; }
#power-profiles-daemon.balanced { color: #7eb3c9; }
#power-profiles-daemon.power-saver { color: #b4c7a7; }

@keyframes blink {
  to {
    background-color: #e4e1dd;
    color: #101317;
  }
}
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #ca6d73;
}

#idle_inhibitor.activated {
  background-color: #e4e1dd;
  color: #2c2d39;
}

#keyboard-state { padding: 0 0px; min-width: 16px; }
#keyboard-state > label { padding: 0 5px; }
#keyboard-state > label.locked { background: rgba(44, 45, 57, 0.2); }

#scratchpad { background: rgba(44, 45, 57, 0.2); }
#scratchpad.empty { background-color: transparent; }

#privacy { padding: 0; }
#privacy-item { padding: 0 5px; color: #e4e1dd; }
#privacy-item.screenshare { background-color: #e6c193; }
#privacy-item.audio-in { background-color: #b4c7a7; }
#privacy-item.audio-out { background-color: #7eb3c9; }

button:hover { background: inherit; }

label:focus { background-color: #101317; }

